.gc-zongdenglu{
	width: 244px;
	height: auto;
	display: block;
}
.gc-denglus {
    margin-top: 20px;
    display: block;
    width: 243px;
    height: auto;
}

.gc-denglu-a {
    line-height: 38px;
    text-align: center;
    font-size: 17px;
    width: 243px;
    height: 38px;
    display: block;
    color: #ffffff;
    background-color: #1b2134;
}

.gc-denglu-b {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #46676e), color-stop(1, #669779));
    display: block;
    width: 243px;
    height: 238px;
}

.gc-denglu-div {
    background-color: #ffffff;
    margin-bottom: 14px;
    border: none;
    box-shadow: 2px 2px 4px #666 inset;
    display: block;
    width: 182px;
    height: 29px;
}

.gc-denglu-div-span {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}

.gc-denglu-div-inp {
    font-size: 16px;
    border: none;
    margin-top: 5px;
    height: 20px;
    width: 142px;

}

.gc-denglu-span {
    line-height: 29px;
    text-align: center;
    background-color: #1b2134;
    color: #ffffff;
    font-size: 17px;
    width: 182px;
    height: 29px;
    display: block;

}

.gc-denglu-span:hover {
    opacity: 0.5;
    filter: alpha(Opacity=50);
}

.gc-denglu-b-a {
    padding-top: 29px;
    padding-left: 32px;
    display: block;
    width: 182px;
    height: 113px;
}

.gc-denglu-b-b {
    color: #ffffff;
    font-size: 13px;
    padding-left: 34px;
    padding-top: 50px;
    display: block;
    width: 182px;
    height: 39px;
}

.gc-wangjimima {
    padding-left: 20px;
}

.gc-wangjimima:hover {
    color: #1b2134;
}

.gc-zhuce {
    color: #1b2134;
    display: block;
    margin-top: 5px;
}

.gc-zhuce:hover {
    color: #ffffff;
}

div.gc-usercenter {
    height: 38px;
    background-color: #1b2134;
    color:white;
    text-align: center;
    line-height: 38px;
}

.gc-dengluqian {
    width: 243px;
    background: #42626d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #42626d 0%, #6a9c7b 50%, #466e70 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #42626d), color-stop(50%, #6a9c7b), color-stop(100%, #466e70)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #42626d 0%, #6a9c7b 50%, #466e70 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #42626d 0%, #6a9c7b 50%, #466e70 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #42626d 0%, #6a9c7b 50%, #466e70 100%); /* IE10+ */
    background: linear-gradient(45deg, #42626d 0%, #6a9c7b 50%, #466e70 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42626d', endColorstr='#466e70', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

.gc-userpicture-img{
    border-radius: 100px;
    border: 3px solid #1b2134;
}
.gc-userpicture{
    text-align: center;
}

.gc-usertouxiang{
    margin-top: 14px;
}

.gc-username{
    color:#353535;
    margin-bottom: 32px;
    margin-top: 15px;
    font-size: 15px;
}

.gc-usercenter-a{
    text-align: center;
    color: white;
}

.gc-usercenter-ul{
    padding-bottom: 35px;
}
.gc-usercenter-li{
    margin-bottom: 45px;
}

.gc-usercenter-span{
    font-size: 15px;
    margin-left: 11px;
}

.gc-yincang{
    width: 75px;
    margin: auto;
    text-align: right;
}

.gc-usercenter-li.active{
    background-color: #415d56;
}