.gc-weibu {
    margin: 0 auto;
    /* border-top: solid 8px #0797ff; */
    width: 1024px;
    height: 465px;
    display: block;
    background-color: #0d293f;
}

.gc-weibu-a {
    margin-left: 42px;
    margin-top: 55px;
    float: left;
    width: 926px;
    height: 240px;
    display: block;
}

.gc-weibu-about {
    float: left;
    text-align: center;
    width: 114px;
    height: 218px;
    display: block;
}

.gc-weibu-about-span {
    width: 114px;
    font-size: 24px;
    color: #305470;
}

.gc-weibu-about ul {
    color: #6791a3;
    width: 75px;
    display: block;
    list-style-type: none;
    margin: 5px auto;
    padding: 0;
}

.gc-weibu-about ul li {
    display: block;
    margin-top: 8px;
}

.gc-weibu-cooperation {
    margin-left: 30px;
    float: left;
    /* text-align: center; */
    width: 252px;
    height: 218px;
    display: block;
}

.gc-weibu-cooperation-span {
    width: 103px;
    font-size: 24px;
    color: #305470;
    float: left;
}

.gc-weibu-cooperation ul {
    color: #6791a3;
    width: 300px;
    display: block;
    list-style-type: none;

    padding: 0;
    height: auto;
    float: left;
}

.gc-weibu-cooperation ul li {
    width: 87px;
    margin-right: 10px;
    float: left;
    display: block;
    margin-top: 8px;
}

.gc-guanzhuwomen {
    margin-left: 30px;
    float: left;
    /* text-align: center; */
    width: 494px;
    height: 218px;
    display: block;
}

.gc-weibu-guanzhuwomen-span {
    width: 200px;
    font-size: 24px;
    color: #305470;
    float: left;
}

.gc-weibu-guanyuwomen-div {
    width: 300px;
    float: left;
    display: block;

}

.gc-weibu-guanyuwomen-div span {
    display: block;
    margin-right: 21px;
    width: 40px;
    float: left;
}

.gc-weibu-guanyuwomen-img {
    float: left;
    display: block;
}