/*主要行业*/
.gc-zhuyaohangye {
	float:left;
    margin-top: 20px;
    display: block;
    width: 243px;
    height: 332px;
}

.gc-zhuyaohangye-a {
    width: 243px;
    height: 40px;
    display: block;
    background-color: #1b2134;
    color: #ffffff;
    font-size: 13px;
    line-height: 40px;
}

.gc-zhuyaohangye-b {
    background-color: #ffffff;
    width: 243px;
    height: 255px;
    display: block;
}

.gc-zhuyaohangye-b ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    width: 100%;
}

.gc-zhuyaohangye-b ul li {
    line-height: 22px;
    text-align: center;
    margin-left: 12px;
    margin-top: 9px;
    color: #ffffff;
    background-color: #0797ff;
    float: left;
    width: 63px;
    height: 22px;
    display: block;
}

.gc-zhuyaohangye-b ul li:hover {
    background-color: #1b2134;
}

.gc-zhuyaohangye-c {
    margin-top: 2px;
    background-color: #ffffff;
    /* text-align: center; */
    /* line-height: 31px; */
    color: #909090;
    width: 244px;
    height: 36px;
    display: block;
    font-size: 12px;
}

.gc-zhuyaohangye-span {
    margin-left: 14px;
    float: left;
    display: block;
}