.gc-jingxuanyanbao {
    margin-top: 20px;
    float:left;
    width: 243px;
    height: auto;
    display: block;

}

.gc-jingxuanyanbao-a {
    width: 243px;
    height: 40px;
    display: block;
    background-color: #1b2134;
    color: #ffffff;
    line-height: 40px;
    font-size: 13px;
}

.gc-i {
    float: left;
    font-size: 17px;
    margin-left: 17px;
    margin-top: 10px;
    display: block;
}

.gc-jingxuanyanbao-span {
    margin-left: 14px;
    float: left;
    display: block;
}

.gc-jingxuanyanbao-b {
    width: 243px;
    height: 229px;
    display: block;
    background-color: #ffffff;
}

.gc-jingxuanyanbao-b-a {
    border-bottom: solid 1px #dcdcdc;
    width: 243px;
    height: 76px;
    display: block;
}

.gc-jingxuanyanbao-img {
    margin-left: 13px;
    margin-top: 10px;
    width: 78px;
    height: 52px;
    display: block;
    float: left;
}

.gc-jingxuanyanbao-span-a {
    margin-top: 10px;
    margin-left: 11px;
    color: #2e3138;
    font-size: 12px;
    width: 140px;
    height: 38px;
    display: block;
    float: left;
}

.gc-jingxuanyanbao-span-b {
    margin-left: 11px;
    font-size: 11px;
    width: 140px;
    height: 15px;
    color: #dc7441;
    display: block;
    float: left;
}

.gc-jingxuanyanbao-c {
    background-color: #ffffff;
    width: 243px;
    height: 173px;
    display: block;

}

.gc-jingxuanyanbao-c-a {
    width: 243px;
    height: 173px;
    display: block;
}

.gc-jingxuanyanbao-c-a ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    height: auto;
    display: block;

}

.gc-jingxuanyanbao-c-a ul li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 8px;
    height: 14px;
    line-height: 14px;
    margin-left: 14px;
    color: #2e3138;
    font-size: 12px;
    width: 92%;
    /* padding: 0; */
    display: block;
}

.gc-jingxuanyanbao-c-a-span {
    font-size: 15px;
}

.gc-jingxuanyanbao-c-b {
    line-height: 35px;
    color: #5e5e5e;
    width: 243px;
    height: 35px;
    display: block;
}

.gc-jingxuanyanbao-c-span {
    display: block;
    float: right;
    margin-right: 17px;
}

.gc-jingxuan-img {
    float: left;
    font-size: 17px;
    margin-left: 17px;
    margin-top: 5px;
    display: block;
}