<div class="gc-navigation" ng-controller="homeCtrl">
    <div class="gc-daohang" ng-controller="caijingzixunCtrl">
        <ul CLASS="gc-daohang-ul">
            <li class="gc-li-a"><a>首页</a></li>
            <li class="gc-li-b"><a>研报分类</a>
                <ul class="gc-li-b-ul">
                    <li class="gc-li-b-ul-li"><a>全部</a></li>
                    <li ng-repeat="z in btnName" class="gc-li-b-ul-li"><a>{{z.attributes.btnName}}</a></li>
                </ul>
            </li>
            <li class="gc-li-c"><a>精选研报</a></li>
            <li class="gc-li-d"><a ng-click="scrollTo('tupianyanbao')">图片研报</a></li>
            <li class="gc-li-e"><a>分析师榜</a></li>
            <li class="gc-li-f"><a>全球市场</a></li>
            <li class="gc-li-g"><a>在线行情</a></li>
        </ul>
    </div>
</div>
<div class="gc-bianse"></div>