<div class="gc-redians" ng-controller="TabsCtrl">
		<div class="gc-newsday" ng-hide="myVar">
			<img src="img/shijian.png" class="gc-redian-imga"/>
			<span class="gc-redian-span">今日热点</span>
			</div>
			<div class="gc-newswek" ng-click="toggle()" ng-show="myVar">
			<img src="img/shijian.png" class="gc-redian-imga"/>
			<span class="gc-redian-span">今日热点</span>
			</div>
		<div class="gc-newswek" ng-click="toggle()" ng-hide="myVar"> 
			<img src="img/yizhou.png" class="gc-redian-imga"/>
			<span class="gc-redian-span">本周热点</span>
			</div>
			<div class="gc-newsday" ng-show="myVar"> 
			<img src="img/yizhou.png" class="gc-redian-imga"/>
			<span class="gc-redian-span">本周热点</span>
			</div>
		<div class="gc-redian-div-a" ng-hide="myVar">
			<div class="gc-redian">                      
            <div class="gc-redian-b">
            <div class="gc-redian-b-a">
            <img src="img/redian-a.jpg"  class="gc-redian-img">
            <span class="gc-redian-span-a">东方-机械设备行业:《中国制造2025》...</span>
            <span class="gc-redian-span-b">东方证券   行业分析</span>
            </div>
            <div class="gc-redian-b-a">
            <img src="img/redian-c.jpg"  class="gc-redian-img">
            <span class="gc-redian-span-a">东方证券-机械设备行业:《中国制造2025》...</span>
            <span class="gc-redian-span-b">东方证券   行业分析</span>
            </div>
            <div class="gc-redian-b-a">
            <img src="img/redian-b.jpg"  class="gc-redian-img">
            <span class="gc-redian-span-a">东方证券-机械设备行业:《中国制造2025》...</span>
            <span class="gc-redian-span-b">东方证券   行业分析</span>
            </div>
            </div>
            <div class="gc-redian-c">
            <div class="gc-redian-c-a">
            <ul>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            </ul>
            <div class="gc-redian-c-b">
            <span class="gc-redian-c-span">更多>></span>
            </div>
            </div>
            </div>
            </div>
		</div>
		<div class="gc-redian-div-a" ng-show="myVar">
			<div class="gc-redian">                      
            <div class="gc-redian-b">
            <div class="gc-redian-b-a">
            <img src="img/redian-b.jpg"  class="gc-redian-img">
            <span class="gc-redian-span-a">东方证券-机械设备行业:《中国制造2025》...</span>
            <span class="gc-redian-span-b">东方证券   行业分析</span>
            </div>
            <div class="gc-redian-b-a">
            <img src="img/redian-c.jpg"  class="gc-redian-img">
            <span class="gc-redian-span-a">东方证券-机械设备行业:《中国制造2025》...</span>
            <span class="gc-redian-span-b">东方证券   行业分析</span>
            </div>
            <div class="gc-redian-b-a">
            <img src="img/redian-d.jpg"  class="gc-redian-img">
            <span class="gc-redian-span-a">东方证券-机械设备行业:《中国制造2025》...</span>
            <span class="gc-redian-span-b">东方证券   行业分析</span>
            </div>
            </div>
            <div class="gc-redian-c">
            <div class="gc-redian-c-a">
            <ul>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            <li><span class="gc-redian-c-a-span">&bull;</span>中金公司-医疗行业信息化专题系列一：中金公司-医疗行业信息化专题系列一</li>
            </ul>
            <div class="gc-redian-c-b">
            <span class="gc-redian-c-span">更多>></span>
            </div>
            </div>
            </div>
            </div>
		</div>
	</div>